/* bg : #070706;
text #d1bea1
para #c4beb6;
card bg #1c352e
card bg hover #344130
grey : #19201e */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', sans-serif;
  background:#070706;
  color: #d1bea1;
}

header {
  background-color: #19201e;
  padding: 20px 0;
  text-align: center;
}

.gallery {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #19201e;
}
.gallery img {
  margin-bottom: 10px;
  height: 300px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.gallery img:hover {
  transform: scale(1.1);
}

.inventors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 40px 20px;
}

.inventor-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #1c352e;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(218, 218, 218, 0.1);
  transition: background-color 0.3s ease;
}

.inventor-card:hover{
  background-color: #344130;
}

.inventor-card img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
.inventor-card .intro {
  max-width: 300px;
  text-decoration: none;
  color: #c4beb6;
}
.inventor-card .intro h2 {
  margin-bottom: 10px;
  color: #d1bea1;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #19201e;
}

.names{
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 40px;
  margin-left: 40px;
}
